@page
@model RazorASP.Pages.IndexModel

<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Дубины и Шлёпки!</h1>
        <h2 class="display-2">Создай своего героя!</h2>
        
        <p>Sand99</p>
        <p>GodBier</p>
        <p>Andryusha</p>
        <p>Kvaziboba</p>
        <p>TheTana</p>
    </div>
</div>
